services:
  api:
    build:
      context: ./code
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    volumes:
      - ./code:/app
    env_file:
      - ./code/.env.development

  tests:
    build:
      context: .
      dockerfile: Dockerfile.tests
    volumes:
      - ./code:/app/code
    working_dir: /app
    entrypoint: ["sh", "-c", "sleep infinity"]
